<mat-toolbar color="primary">
  <app-logo></app-logo>
  <div *ngIf="isAuthenticated" class="user">
    <mat-icon>account_circle</mat-icon>
    <span class="user__name">{{user.firstName}} {{user.lastName}}</span>
    <button
      mat-icon-button
      matTooltip="Log Off"
      matTooltipPosition="below"
      (click)="logout()"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
  <div *ngIf="!isAuthenticated" class="user">
    <button
      mat-button
      class="user__login"
      (click)="login()"
    >
      <mat-icon>account_circle</mat-icon>
      Login
    </button>
  </div>

</mat-toolbar>
<app-breadcrumbs></app-breadcrumbs>

