<app-course-list-item
  *ngFor="let course of (courses$ | async) | orderBy"
  [course]="course"
  [isCourseUpcoming]="coursesService.isCourseUpcoming(course)"
  [isCourseFresh]="coursesService.isCourseFresh(course)"
  (delete)="onDelete($event)"
  (edit)="onEdit($event)"
  appHighlight
  ></app-course-list-item>

<app-courses-list-no-data *ngIf="!(coursesLength$ | async)"></app-courses-list-no-data>

<button
  *ngIf="(courses$ | async).length"
  mat-raised-button
  class="load"
  color="primary"
  (click)="loadCourses()"
  [disabled]="(coursesLength$ | async) <= (courses$ | async).length"
>
  <mat-icon>expand_more</mat-icon>
  Load More Courses
</button>
