.mat-card
  display: flex
  padding: 10px 20px
  box-sizing: border-box
  min-height: 93px

.mat-card-title
  margin-bottom: 10px

.mat-card-content
  margin: 0 20px 0 0

.mat-card-actions
  display: flex
  flex-direction: column
  margin: 0
  padding: 0

  & .mat-raised-button
    margin: 0
    width: 150px

.course-list-item
  &__data
    flex-grow: 1

  &__header
    display: flex
    flex-grow: 1
    justify-content: space-between
    align-items: baseline

  &__details
    display: flex
    justify-content: space-between
    width: 150px
    margin: 0 20px 10px 0

