<mat-card class="mat-elevation-z">
  <div class="course-list-item__data">
    <div class="course-list-item__header">
      <mat-card-title [ngClass]="classes.title">
        {{course.title | uppercase}}
        <mat-icon
          *ngIf="course.topRated"
          class="title"
        >
          star_border
        </mat-icon>
        <sup *ngIf="course.topRated">top-rated</sup>
        <mat-icon
          *ngIf="isCourseUpcoming"
          class="title"
        >
          alarm
        </mat-icon>
        <sup *ngIf="isCourseUpcoming">upcoming</sup>
        <mat-icon
          *ngIf="isCourseFresh"
          class="title"
        >
          alarm_on
        </mat-icon>
        <sup *ngIf="isCourseFresh">fresh</sup>
      </mat-card-title>
      <div class="course-list-item__details">
        <div>{{course.durationMin | duration}}</div>
        <div>{{course.creationDate | date:'dd/MM/yyyy'}}</div>
      </div>
    </div>
    <mat-card-content>{{course.description}}</mat-card-content>
  </div>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="onEditClick()"
    >
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onDeleteClick($event)"
    >
      <mat-icon>remove_circle_outline</mat-icon>
      Delete
    </button>
  </mat-card-actions>
</mat-card>
