<app-breadcrumbs></app-breadcrumbs>
<div class="add-course">
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="Title"
        [(ngModel)]="course.title"
        name="title"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        [(ngModel)]="course.description"
        name="description"
        required
      ></textarea>
    </mat-form-field>
  </div>
  <app-course-date
    [creationDate]="course.creationDate"
    (dateChange)="onDateChange($event)"
  ></app-course-date>
  <app-course-duration
    [durationMin]="course.durationMin"
    (durationChange)="onDurationChange($event)"
  ></app-course-duration>
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="onSaveClick()"
    [disabled]="isSubmitting"
  >
    Save
  </button>
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="onCancelClick()"
  >
    Cancel
  </button>
</div>
