@import '~@angular/material/theming'
@import 'src/sass/theme.sass'

.add-course
  flex: 1
  margin: 10px

mat-form-field
  width: 100%

mat-card
  border: 1px solid mat-color($app-color-primary)

textarea
  height: 55px

button
  width: 50%
